@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Light.ttf);
  font-weight: 300;
}

.container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* BLOCK 1 */
.header-background {
  width: 100%;
  background: url(../assets/images/Sectionsbackground/section-1\(header\).jpg);
  background-attachment: fixed;
  background-size: 100%;
}

.header-wrapper {
  background-color: #5e5d5899;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav {
  display: flex;
  align-items: center;
}

.header_nav-item {
  padding-left: 21px;
}

.header_nav-link {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  color: #ffffff99;
  padding-bottom: 50px;
}

.header_nav-link:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
}

.search-icon {
  cursor: pointer;
}
.header__nav-search {
  padding-bottom: 49px;
}

.header__nav-search:hover {
  border-bottom: 2px solid #18cfab;
}

/* BLOCK 2 */
.home-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home {
  width: 1160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home_texts {
  font-family: "Montserrat";
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 379px;
}

.home__text:first-child {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 22px;
}

.home__text-colored {
  color: rgba(24, 207, 171, 1);
}

.home__text:nth-child(2) {
  font-size: 78px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 22px;
}

.feedbackt:lasfeedbackt-child {
  font-size: 34px;
  font-weight: 400;
  color: rgba(212, 212, 212, 1);
}

.home_buttons {
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding: 129px 0 241px 0;
}

.home__button {
  background: #18cfab;
  padding: 16px 18px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px -5px 0px 0px #ffffff;
  cursor: pointer;
}

.home__button-wrapper:last-child .home__button {
  background: #00cbf6;
  padding: 16px 12px;
}

.home__button-wrapper:last-child {
  padding-left: 26px;
}

/* MAIN */

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BLOCK 3 */
.capabilities {
  width: 100%;
  padding-top: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 360px;
}

.capability {
  background-color: rgba(28, 42, 51, 1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.capability:nth-child(even) {
  background-color: rgba(24, 207, 171, 1);
}

.capability__text {
  color: rgba(24, 207, 171, 1);
  padding-top: 47px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.capability:nth-child(even) .capability__text {
  color: rgba(255, 255, 255, 1);
  padding-top: 58px;
}

/* BLOCK 4 */

.service {
  width: 1160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 90px 0;
  cursor: pointer;
}

.service__title {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 36px;
  color: rgba(78, 78, 78, 1);
}

.service__lines .service__line:first-child {
  width: 75px;
  border-bottom: solid rgba(24, 207, 171, 1) 2px;
  padding-top: 26px;
}

.service__lines .service__line:last-child {
  width: 78px;
  border-bottom: solid rgba(24, 207, 171, 1) 2px;
  padding-top: 2px;
  margin-left: 8px;
}

.service__buttons {
  display: flex;
  padding-top: 70px;
  padding-bottom: 13px;
}

.service__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service__button {
  display: flex;
  justify-content: center;
  width: 194px;
  padding: 28px 0;
  color: rgba(113, 113, 113, 1);
  background-color: rgba(248, 252, 254, 1);
  border: 1px solid rgba(237, 239, 239, 1);
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
}

.service__button:hover {
  border: 2px solid rgba(24, 207, 171, 1);
  padding: 27px 0;
}

.service__button-active {
  background-color: rgba(24, 207, 171, 1);
  border: 1px solid rgba(24, 207, 171, 1);
  color: rgba(255, 255, 255, 1);
}

.service__image-none {
  visibility: hidden;
}

.service__content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.service__content-text {
  padding-left: 15px;
  font-family: "Montserrat";
  font-weight: 3 00;
  font-size: 14px;
  line-height: 24.37px;
  color: rgba(119, 119, 119, 1);
}

.service__content-none {
  display: none;
}

/* BLOCK 5 */

.purchase-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(../assets/images/Sectionsbackground/section-2.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.purchase-background {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
}

.purchase {
  padding: 127px 0;
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
}

.purchase__title {
  color: rgba(24, 207, 171, 1);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}

.purchase__text {
  padding-top: 14px;
  font-weight: 400;
  font-size: 16px;
  color: rgb(207, 206, 206);
}

.purchase__button-wrapper {
  padding-top: 25px;
}

.purchase__button {
  background: #18cfab;
  padding: 16px 18px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px -5px 0px 0px #ffffff;
  cursor: pointer;
  margin-top: 70px;
}

/* BLOCK 6 */

.work-wrapper {
  background-color: rgba(233, 237, 239, 1);
  width: 100%;
  display: flex;
  justify-content: center;
}

.work {
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 99px 0 0 0;
}

.work__title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  color: rgba(78, 78, 78, 1);
}

.work__lines .work__line:first-child {
  width: 75px;
  border-bottom: solid rgba(24, 207, 171, 1) 2px;
  padding-top: 24px;
}

.work__lines .work__line:last-child {
  width: 78px;
  border-bottom: solid rgba(24, 207, 171, 1) 2px;
  padding-top: 2px;
  margin-left: 8px;
}

.menu {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__buttons {
  display: flex;
  justify-content: center;
}

.menu__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__button {
  display: flex;
  justify-content: center;
  padding: 12px 28px;
  color: rgba(113, 113, 113, 1);
  border: 1px solid rgba(218, 218, 218, 1);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 42px;
  cursor: pointer;
}

.menu__button:hover {
  border: 2px solid rgba(24, 207, 171, 1);
  color: rgba(24, 207, 171, 1);
  padding: 11px 27px;
}

.menu__button-active {
  border: 2px solid rgba(24, 207, 171, 1);
  color: rgba(24, 207, 171, 1);
  padding: 11px 27px;
}

.menu__template {
  padding-top: 71px;
  display: grid;
  grid-template-columns: repeat(4, 285px);
  grid-template-rows: 211px;
  gap: 0px;
}

.menu__image-wrapper {
  position: relative;
}

.menu__image-hover {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: #e9edef;
  font-family: "Montserrat";
  height: 100%;
  width: 100%;
}

.menu__image-wrapper:hover > .menu__image-hover {
  display: flex;
  border-top: 3px solid rgba(24, 207, 171, 1);
}

.menu__image-title {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  color: rgba(24, 207, 171, 1);
  text-transform: uppercase;
  margin-top: 25px;
  cursor: pointer;
}

.menu__image-text {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  color: rgba(138, 138, 138, 1);
  margin-top: 10px;
  cursor: pointer;
}

.load__button {
  background: rgba(24, 207, 171, 1);
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: all 0.25s ease;
  width: 168px;
  position: relative;
  height: 63px;
  overflow: hidden;
  margin-bottom: 90px;
}

.load__icon {
  margin-left: 23px;
}

.load__button .load__title {
  width: 168px;
  display: block;
  pointer-events: none;
  transition: all 0.25s ease;
}

.load-animate {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 100;
  border-radius: 50%;
  top: 0;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.25s ease;
}

.load-animate:after {
  content: "";
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-left: 3px solid #fff;
  animation: load infinite 0.8s ease 0.05s;
  position: absolute;
}

.load-animate:before {
  content: "";
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-left: 3px solid #fff;
  animation: load infinite 0.8s linear;
  position: absolute;
  opacity: 0.6;
}

.load__button.load {
  width: 60px;
  border-radius: 50%;
}

.load__button.load {
  padding-bottom: 4px;
  padding-left: 3px;
}

.load__button.load .load__title {
  transform: translate(-140px);
}

.load__button.load .load__icon {
  display: none;
}

.load__button.load .load-animate {
  opacity: 1;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* BLOCK 7 */
.news {
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
}

.news__title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  color: rgba(78, 78, 78, 1);
}

.news__lines .news__line:first-child {
  width: 75px;
  border-bottom: solid rgba(24, 207, 171, 1) 2px;
  padding-top: 24px;
}

.news__lines .news__line:last-child {
  width: 78px;
  border-bottom: solid rgba(24, 207, 171, 1) 2px;
  padding-top: 2px;
  margin-left: 8px;
}

.news__contents {
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 265px);
  grid-template-rows: repeat(2, 281px);
  gap: 45px;
}

.content-item {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.content-date {
  position: absolute;
  background-color: rgba(32, 62, 56, 1);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 15px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.content-title {
  padding-left: 15px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 38.94px;
  color: rgb(97, 97, 97);
}

.item-info {
  padding-left: 15px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  color: rgba(119, 119, 119, 1);
}

.news__content:hover > .content-item .content-date {
  background-color: rgba(24, 207, 171, 1);
  transition: 100ms ease-in-out;
}

.news__content:hover > .content-title {
  color: rgba(24, 207, 171, 1);
  transition: 100ms ease-in-out;
}

/* BLOCK 8 */

.feedback-wrapper {
  width: 100%;
  background: url(../assets/images/Sectionsbackground/section-3.jpg);
  background-size: 100%;
  background-position: 50% 25%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.feedback {
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.feedback__title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.feedback__lines .feedback__line:first-child {
  width: 75px;
  border-bottom: solid rgba(24, 207, 171, 1) 2px;
  padding-top: 24px;
}

.feedback__lines .feedback__line:last-child {
  width: 78px;
  border-bottom: solid rgba(24, 207, 171, 1) 2px;
  padding-top: 2px;
  margin-left: 8px;
}

.feedback__quotes {
  margin-top: 66px;
}

.user_text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  text-align: Center;
  color: rgba(187, 187, 187, 1);
  padding: 36px 0;
}

.user_name {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: rgba(24, 207, 171, 1);
  text-transform: uppercase;
}

.user_job {
  position: relative;
  padding-top: 5px;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
  color: rgba(187, 187, 187, 1);
}

.users-wrapper {
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 483px;
}

.arrow {
  position: absolute;
  font-family: "Montserrat";
  font-weight: 700;
  padding: 8px 12px;
  color: rgba(187, 187, 187, 1);
  border: 1px solid rgba(187, 187, 187, 1);
  cursor: pointer;
}

.left_arrow {
  right: 100%;
}
.right_arrow {
  left: 100%;
}

.arrow:hover {
  background-color: rgba(24, 207, 171, 1);
  border: 1px solid rgba(24, 207, 171, 1);
}

.user-icon {
  margin-left: 38px;
  width: 60px;
  border: 4px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

.users .user-icon:first-child {
  margin-left: 0;
}

.user__image {
  height: 80px;
  border: 4px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

.user__image-wrapper {
  margin: 56px 0;
}

.image-animation {
  transform: scale(2);
  animation: scale_animation 200ms ease-in-out;
}

.user-choosen {
  animation: translate_animation 200ms ease-in-out;
  transform: translateY(-15px);
}

@keyframes scale_animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.33;
  }
  100% {
    opacity: 1;
  }
}

@keyframes translate_animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

/* BLOCK 9 */

.gallery {
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0 0 0;
}

.gallery__title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  color: rgba(78, 78, 78, 1);
}

.gallery__lines .gallery__line:first-child {
  width: 75px;
  border-bottom: solid rgba(24, 207, 171, 1) 2px;
  padding-top: 24px;
}

.gallery__lines .gallery__line:last-child {
  width: 78px;
  border-bottom: solid rgba(24, 207, 171, 1) 2px;
  padding-top: 2px;
  margin-left: 8px;
}

.gallery__template {
  width: 1160px;
  padding: 80px 0 50px 0;
}

.load__button:last-child {
  position: relative;
}

.gallery-item {
  float: left;
  border-radius: 50px;
  margin-bottom: 20px;
  width: 350px;
}

.gallery-item img {
  width: 100%;
}

/* FOOTER */

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(34, 53, 63, 1);
}

.footer__copyright {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  color: rgba(174, 174, 174, 1);
  letter-spacing: 0px;
  text-align: left;
  padding: 48px 0;
}

.footer__copyright span {
  color: rgba(24, 207, 171, 1);
}

.load__icon {
  display: block;
}
